body{
  background: #f2f2f2;
  font: 14px arial;
}

.wrapper{
  width: 600px;
  margin: 30px auto;
  border: solid 1px #890505;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}
.page-title{
  background: #890505;
  font-size: 1.25em;
  padding: 10px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  margin: -1px;
  letter-spacing: -0.05em;
}
.list-none{
  list-style: none;
}
.check-list{
  padding: 0;
  margin: 0;
  height: 100px;
  overflow-y: auto;
}
.check-list li{
  margin:0 0 1px;
  background: #f2f2f2;
}
.option{
  padding: 5px 15px;

}
/*input checkbox/radio css*/
.check-block{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.control-label{
  position: relative;
  display: block;
  vertical-align: middle;
  min-height: 18px;
  padding: 3px 15px;
  cursor: pointer;
}

.check-box, .control-label input[type="checkbox"]{
  position: absolute;
  opacity: 0;
}

.label-text{
  width: 14px;
  height: 14px;
  display: inline-block;
  border: solid 1px gray;
  vertical-align: middle;
  margin-right: 10px;
}

input[type=checkbox]:checked + .label-text{
  background:  url(../images/check.gif) center no-repeat;
}

.check-status{
  background:#890505;
  border-radius: 5px;
  color: #fff; 
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
}
.hide{
  display: none;
}